.App {
  text-align: center;
}

body{
  font-size: 12px;
  line-height: 24px;
  font-weight: 600;
  font-family: 'Open Sans';
}

.container{
  width: 80%;
  margin: auto;
}

.d-flex{
  display: flex;
  align-items: center;
}

.flex-item{
  width: 100%;
  flex-grow: 1;
}

.text-left{
  text-align: left;
}

.text-right, .flex-right{
  text-align: right;
  justify-content: end;
}
